// Media querys
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}


.spacer {
    flex: 1 1 auto;
}

.btn-no-border
{
    border-style: none;
    // margin-left: 15%;
}

.ml-btn
{
    margin-left: 5%;
    @include media(xs) {
        margin-left: 14%;
    }
}

.btn-order
{
    // width: 40%;
    // text-align: start;
    @include media(xs) {
        float: right;
    }
}

.txt-toolbar
{
    font-size: smaller;
}

mat-toolbar
{
    min-height: 4%;
    max-height: 5%;

    background-color: white;
}