<mat-toolbar>
    <button mat-icon-button aria-label="Ingresar Usuario" class="btn-no-border">
        <mat-icon>supervised_user_circle</mat-icon>
        Ingresar
    </button>
    <!-- <span class="txt-toolbar">Ingresar</span>     -->

    <button mat-icon-button aria-label="Ingresar Usuario" class="btn-no-border ml-btn">
        <mat-icon>shopping_cart</mat-icon>
        Carrito
    </button>
    <!-- <span class="txt-toolbar">Carrito</span> -->

    <button mat-flat-button color="warn" class="ml-btn btn-order">    
        <mat-icon>location_on</mat-icon>    
        Seguir Pedido
    </button>
</mat-toolbar>
<mat-divider></mat-divider>